:root {
    --mode-dark: #1f1d1d;
    --theme-light: #d53434;
    --theme-dark: #4f1459;
    --text-light: #fff;
    --text-blur: #ccc
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    display: flex;
}

.main {
    margin: 0 auto;
    padding: 2rem 10rem 0;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--mode-dark);
    color: var(--text-light);
}

/* Control */
.control__btn {
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    color: var(--text-light);
    cursor: pointer;
}

.control__sm-btn {
    width: 4.4rem;
    height: 4.4rem;
    background: var(--theme-dark);
}

.control__main:hover,
.control__sm-btn:hover {
    opacity: 0.8;
}

.control__btn--actived {
    background: #b428cd;
}

.control__icon {
    background: transparent;
    font-size: 1.4rem;
}

.control__l-icon {
    display: none;
    font-size: 2.8rem;
}
/* End Control */