/* Dashboard */
.dashboard {
    width: 100%;
}

/* Header */
header {
    margin-top: 10px;
    text-align: center;
}

.header__song {
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header__singer {
    padding-top: 6px;
    color: var(--text-blur);
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* End Header */

/* CD */
.cd {
    display: flex;
    overflow: hidden;
}

.cd__outline {
    margin: 6% auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0.8rem 0.4rem var(--theme-dark);
}

.cd__img {
    width: 28rem;
    height: 28rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* End CD */

/* Slider */
.slider {
    margin-top: 60px;
    padding-bottom: 4rem;
    text-align: center;
}

.slider__progress {
    --background-gradient: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, #494545 0%, #494545 100%);
    --content-after: "0:00";
    --content-before: "0:00";
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    background: linear-gradient(to right, var(--theme-dark), var(--theme-light));
}

.slider__progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    height: 0.6rem;
    background: var(--background-gradient);
    cursor: pointer;
}

.slider__progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: -0.3rem;
    outline: 0.6rem solid #fff;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--theme-dark);
    box-shadow: 0 0 0.8rem 0.8rem var(--theme-dark);
}

.slider__progress::after,
.slider__progress::before {
    position: absolute;
    top: 2rem;
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 200;
}

.slider__progress::after {
    content: var(--content-after);
    left: 0;
}

.slider__progress::before {
    content: var(--content-before);
    right: 0;
}
/* End Slider */

/* Control */
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__main {
    width: 5.8rem;
    height: 5.8rem;
    background: var(--theme-light);
}

.control__play-icon {
    display: block;
}

.control__pause-icon {
    display: none;
}

.dashboard.playing .control__play-icon {
    display: none;
}

.dashboard.playing .control__pause-icon {
    display: block;
}
/* End Control */
/* End Dashboard */

/* Playlists */
.playlists {
    margin-top: 60px; 
}

.playlists span {
    color: var(--text-light);
    font-size: 2.4rem;
}

.song__list {
    margin-top: 40px;
}

.song__item {
    display: flex;
    border-bottom: 0.3rem solid rgb(57, 55, 55);
    padding: 1.2rem 0;
    cursor: pointer;
}

.song__item:active {
    opacity: 0.8;
}

.song__item:last-child {
    border-bottom: none;
}

.song__avatar {
    width: 18%;
    border-radius: 50%;
    overflow: hidden;
}

.song__avatar-img {
    padding-top: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.song__info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 74%;
}

.song__name {
    padding: 0 1.8rem;
    width: 100%;
    font-size: 1.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.song__singer {
    margin-top: 0.4rem;
    padding: 0 1.8rem;
    width: 100%;
    color: var(--text-blur);
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.song__status {
    display: flex;
    flex-direction: column;
    width: 8%;
    justify-content: center;
}

.song__btn {
    position: relative;
    border-radius: 50%;
    padding-top: 100%;
    background-color: #5e5d5d;
}

.song__item--playing .song__btn {
    background-color: var(--theme-light);
}

.song__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.song__pause-icon {
    display: none;
}

.song__item--playing .song__play-icon {
    display: none;
}

.song__item--playing .song__pause-icon {
    display: block;
}
/* End Playlists */